<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <script src="../app.js"></script>
</head>
<body>   
    <div ng-app="myApp">        
        <div ng-controller="afterLogin">
            <p><h1>Welcome to After Login page</h1></p>
            <div>
           
                <table >
                    <tr>
                        <td>UserName:</td>
                        <td>Action:</td>
                    </tr>
                    <tr ng-repeat="friends in AddFriends">
                        <td>{{friends.UserName}}</td>
                        <td><input type="button" value="Add Friend" ng-click="addFriend(friends)" /></td>
                    </tr>
                </table>
                
                <!--<div>
                   
                </div>-->
                
            </div>
        </div>
    </div>

</body>
</html>
    