<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <title></title>
</head>
<!--<body>-->
    
            <li ng-repeat="showUser in dashboard">
    UserName:{{showUser.UserName}}
    <ul>
        <li ng-repeat="friendname in showUser.AddFr">
            Friends:{{friendname.FriendName}}

        </li>
    </ul>
</li>
    <!--<div ng-controller="afterLogin">

            <div>
                <table style="width:80%">
                    <tr>
                        <th><h3>User</h3></th>
                        <th><h3>FriendList</h3></th>
                    </tr>
                    <tr ng-repeat="showUser in dashboard">
                        <td>
                            {{showUser.UserName}}
                        </td>
                    </tr>

                </table>
            </div>-->
        <!--</div>-->
   
<!--</body>-->
<!--</html>-->
