<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <script src="../app.js"></script>-->
<!--</head>
<body>-->
    <!--<div ng-app="myApp">
        <ul ng-controller="afterLogin">-->
            <li ng-repeat="showUser in dashboard">
                UserName:{{showUser.UserName}}
                <ul>
                    <li ng-repeat="friendname in showUser.AddFr">
                        Friends:{{friendname.FriendName}}

                    </li>
                </ul>
            </li>
        <!--</ul>-->
        <!--<div ng-controller="afterLogin">-->

            <!--<div>
                <table style="width:80%">
                    <tr>
                        <th><h3>User</h3></th>
                        <th><h3>FriendList</h3></th>
                    </tr>
                    <tr ng-repeat="showUser in dashboard">
                        <td>
                            {{showUser.UserName}}
                        </td>
                    </tr>

                </table>
            </div>-->
        <!--</div>-->
   
<!--</body>
</html>-->
